<h1>Hoops Crew Playas</h1>

<div>
<h3> There are currently <%= @users.length %> players signed up </h3>
</div>
<br>
<% @users.each do |user| %>
  <div>
    Name:   <%= user.name %>
    origin: <%= user.origin %>
    'hood:  <%= user.neighborhood %>
    <%= button_to "Show user", user_path(user), method: :get, class: "btn btn-secondary btn-sm" %>
  </div>
  <br>
<%end%>

