<h1> Welcome To Hoops Crew! </h1>

<h2> the bestest most fun and inclusive basketball meetup in Oakland </h2>

<!-- <img class="hoops-logo" src="assets/hoops4.jpg"> -->
<%=image_tag("hoop4.jpg")%>
<br>

<div class="btn-group inline">
  <% if current_user %>
    <%= button_to "logout", logout_user_path, method: :delete, class: "btn btn-danger" %>
  <%else%>
    <%= button_to "sign up", new_user_path, method: :get, class: "btn btn-secondary btn-lg sign-up"%>
    <%= button_to "sign in", sign_in_path, method: :get, class: "btn btn-secondary btn-lg sign-in" %>
  <%end%>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %>  </div>
<%end%>

