<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>
<% if authorize? %>
  <%= link_to 'Edit', edit_message_path(@message) %> 
  <%= button_to "Delete user", @message, method: :delete %>
  <%= link_to 'Back', messages_path %>
<%else%>
  <%= link_to 'Back', messages_path %>
<% end %>