<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>HoopsCrew</title>
    <!-- VENDOR JS -->
  <!-- Latest compiled JavaScript -->

  

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">

  https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  
    <!-- APPLICATION JS -->
    <!-- <script src="base.js"></script> -->
</head>
<body>
<!-- render navbar -->
<%=render "navbar"%>


<%= yield %>


<%=render "footer"%>

</body>


</html>
